<div class="container-fluid d-flex screen-header">
  <h2>MY WORKOUTS</h2>
  <%= link_to :back, class: "text-decoration-none" do  %>
    <%= show_svg('exit-button.svg') %>
  <% end %>
</div>

<div>
Search
</div>

<div>
Joined Added Saved
</div>

<div>
Upcoming workouts
</div>

<div>
Past workouts
</div>


<div class="row">
  <% @workouts.each do |workout| %>
    <%= workout.title %>
    <%= workout.event_date.strftime("%A, %d, %B, %Y") %>
    <%# <%= workout.start_time.strftime("%M:%H%") %> 
    <%= link_to "Link", workout_path(workout.id) %>
  <% end %>
</div>
