<div class="container-fluid d-flex screen-header">
  <h2>ADD WORKOUT</h2>
  <%= link_to :back, class: "text-decoration-none" do  %>
    <%= show_svg('exit-button.svg') %>
  <% end %>
</div>

<%= simple_form_for @workout , html: { class: 'workout-form p-4' } do |f| %>
  <%= f.input :title, label: 'Event title', input_html: { class: 'input-field', rows: 1 } %>
  <div class="d-flex justify-content-evenly">
    <%= f.input :event_date, label: 'Date', as: :string, input_html: { class: 'input-field', data: { controller: "flatpickr" } } %>
    <%= f.input :start_time, label: 'Time', input_html: { class: 'input-field' } %>
    <%= f.input :end_time, label: false, input_html: { class: 'input-field' } %>
  </div>
  <%= f.input :location, input_html: {class: 'input-field', data: {location_autocomplete_target: "location"}, class: "d-none"}, wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
  <%= f.input :recurring %>
  <%# <%= f.input :type %>
  <%# <%= f.input :tag %>
  <%= f.input :description, input_html: { class: 'input-field', rows: 3 } %>
  <div class="d-flex justify-content-evenly">
    <%= f.submit "Confirm", class: "button-confirm"  %>
    <%= link_to "Cancel", :back, class: "button-cancel text-decoration-none" %>
  </div>
<% end %>
