<div class="container-fluid d-flex screen-header">
  <h2>ADD WORKOUT</h2>
  <%= link_to :back, class: "text-decoration-none" do  %>
    <%= show_svg('exit-button.svg') %>
  <% end %>
</div>

<%= simple_form_for @workout , html: { class: 'workout-form p-4' } do |f| %>
  <%= f.input :title, input_html: { class: 'input-field' } %>
  <%= f.input :event_date, input_html: { class: 'input-field' } %>
  <%= f.input :start_time, input_html: { class: 'input-field' } %>
  <%= f.input :end_time, input_html: { class: 'input-field' } %>
  <%= f.input :location, input_html: {class: 'input-field', data: {location_autocomplete_target: "location"}, class: "d-none"}, wrapper_html: {data: {controller: "location-autocomplete", location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
  <%= f.input :recurring %>
  <%# <%= f.input :type %>
  <%# <%= f.input :tag %>
  <%= f.input :description, input_html: { class: 'input-field' } %>
  <div class="d-flex justify-content-evenly">
    <%= f.submit "Confirm", class: "button-confirm"  %>
    <%= link_to "Cancel", :back, class: "button-cancel text-decoration-none" %>
  </div>
<% end %>
