<div class="navbar navbar-expand-sm">
  <div class="container-fluid">

    <%# MAP %>
    <%= link_to "" do  %>
      <div class="d-flex align-items-center flex-column <%= 'active' if controller_name == 'bets' && action_name != 'new' && action_name != 'published' %>">
        <%= show_svg('map-icon.svg') %>
      </div>
    <% end %>

    <%# ADD %>
    <%= link_to "" do  %>
      <div class="d-flex align-items-center flex-column <%= 'active' if controller_name == 'pages' && action_name == 'workinprogress' %>">
        <%= show_svg('circle-plus-icon.svg') %>
      </div>
    <% end %>

    <%# WORKOUTS %>
    <%= link_to user_signed_in? ? "" : "", class: "link-to-publish" do  %>
      <div class="d-flex align-items-center flex-column <%= 'active' if controller_name == 'users' && action_name == 'index' %>" >
        <%= show_svg('star-icon.svg') %>
      </div>
    <% end %>

    <%# PROFILE %>
    <%= link_to "" do  %>
      <div class="d-flex align-items-center flex-column <%= 'active' if controller_name == 'users' && action_name == 'index' %>" >
        <%= show_svg('profile-icon.svg') %>
      </div>
    <% end %>

    <%# FRIENDS %>
    <%= link_to "" do  %>
      <div class="d-flex align-items-center flex-column <%= 'active' if controller_name == 'bets' && action_name == 'published' || controller_name == 'bettings' && action_name == 'index'%>">
        <%= show_svg('chat-icon.svg') %>
      </div>
    <% end %>

  </div>
</div>
